@model ExtendedJobPosting

@{
    ViewData["Title"] = "Display Extended Job Posting";
}

<h1>Display Extended Job Posting</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.JobPostingID)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.JobPostingID)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.JobPostingName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.JobPostingName)
        </dd>
         <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.JobModality)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.JobModality)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.MonthlySalary)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.MonthlySalary)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.AnnualBonus)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.AnnualBonus)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.SignOnBonus)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.SignOnBonus)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.AnnualSalary)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.AnnualSalary)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.TotalAnnualCompensation)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.TotalAnnualCompensation)
        </dd>
    </dl>
</div>